<ion-header> <page-header></page-header> </ion-header>

<ion-content class="background" padding>
  <div *ngIf="countries_list == '0'">
    <h1 class="page_header_dif">My Orders</h1>
    <ion-card class="bkgrnd_trnsprnt">
      <ion-grid>
        <ion-row class="title_table">
          <ion-col col-3> <strong>Order</strong> </ion-col>
          <ion-col col-3> <strong>Requested Date</strong> </ion-col>
          <ion-col col-3> <strong>Order Status</strong> </ion-col>
          <ion-col col-3> <strong>Address</strong> </ion-col>
        </ion-row>

        <div
          *ngFor="let order of orders; let i = index"
          text-wrap
          [ngClass]="{ active: isGroupShown(i) }"
          class="rowme"
        >
          <div class="title_table_inside">
            <ion-row>
              <ion-col
                col-3
                class="textcolor first_txt"
                (click)="toggleGroup(i)"
              >
                <ion-icon
                  color="success"
                  item-right
                  [name]="
                    isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'
                  "
                ></ion-icon>
                <strong>{{ order.order_info.order_number }}</strong>
              </ion-col>
              <ion-col col-3>
                <strong>{{ order.order_info.deploy_date }}</strong>
              </ion-col>
              <ion-col col-3 class="last_txt">
                <strong>{{ order.order_info.order_status }}</strong>
              </ion-col>
              <ion-col col-3 class="noborder">
                <button
                  type="button"
                  ion-button
                  (click)="
                    presentAlert('Address Information', order.address_info)
                  "
                >
                  <ion-icon
                    ios="ios-information-circle"
                    md="md-information-circle"
                  ></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </div>
          <ion-row *ngIf="isGroupShown(i)" class="kid_title_table">
            <ion-col col-3> <strong>Tool No.</strong> </ion-col>
            <ion-col col-3> <strong>Tool Desc.</strong> </ion-col>
            <ion-col col-3> <strong>Ordered Qty</strong> </ion-col>
            <ion-col col-3> <strong>Avail Qty</strong> </ion-col>
          </ion-row>
          <div *ngIf="isGroupShown(i)" class="kid_child">
            <ion-row *ngFor="let tool of order['tools']">
              <ion-col col-3>{{ tool.part_number }}</ion-col>
              <ion-col col-3>{{ tool.part_description }}</ion-col>
              <ion-col col-3>{{ tool.quantity }}</ion-col>
              <ion-col col-3>{{ tool.available_quantity }}</ion-col>
            </ion-row>
          </div>
        </div>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="countries_list == '1'">
    <h2 class="page_header_dif">My Orders</h2>
    <ion-card *ngIf="!itemExist">
      <p style="text-align:center;">No Request for Address Change</p>
    </ion-card>
    <ion-card *ngIf="itemExist">
      <ion-row class="title_table row">
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Country Name</strong>
        </ion-col>
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Requests</strong>
        </ion-col>
        <ion-col col-4 col-sm> <strong>Actions</strong> </ion-col>
      </ion-row>
      <ion-row *ngFor="let address of countries_list_data" class="addressbg">
        <ion-col class="no_border_right first_txt">
          {{ address.display_name }}
        </ion-col>
        <ion-col class="no_border_right first_txt">
          {{ address.count }}
        </ion-col>
        <ion-col class="no_border">
          <button
            type="button"
            ion-button
            full
            (click)="viewCountryData(address.location_id)"
          >
            View
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
