<ion-header>
  <page-header></page-header>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-grid>
      <ion-list radio-group [(ngModel)]="fe_check">

        <h2 padding> Ship To</h2>


        <ion-item *ngIf="option_value2=='1' ">
          <ion-label>FE Ordered Address</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item *ngIf="option_value1=='1' ">
          <ion-label>FE Ordered Warehouse</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>

      </ion-list>

      <hr>

      <ion-row class="title_table row">
        <ion-col col-3>
          <strong>Tool No.</strong>
        </ion-col>
        <ion-col col-7>
          <strong>Tool Desc</strong>
        </ion-col>
        <ion-col col-2 class="no_border_right">
          <strong>Req Qty</strong>
        </ion-col>
      </ion-row>

      <div *ngFor="let tool of stockOrderDet; let i=index" text-wrap [ngClass]="{active: isGroupShown(i)}">
        <div class="title_table_inside">
          <ion-row>
            <ion-col col-3 class="textcolor first_txt no_border_right" (click)="toggleGroup(i,tool)">
              <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'">
              </ion-icon>
              {{tool.part_number}}
            </ion-col>
            <ion-col col-7 class="no_border_right">
              {{tool.part_description}}
            </ion-col>
            <ion-col col-2 class="last_child">
              {{tool.quantity }}
            </ion-col>
          </ion-row>
        </div>
        <ion-row *ngIf="isGroupShown(i)" class="kid_table ">

          <ion-col col-6 *ngIf="tool['wh_data'].length">
            <strong>Warehouse</strong>
          </ion-col>
          <ion-col col-3 *ngIf="tool['wh_data'].length">
            <strong>Avail Qty.</strong>
          </ion-col>
          <ion-col col-3 *ngIf="tool['wh_data'].length">
            <strong text-center>Qty.</strong>
          </ion-col>



          <ion-col *ngIf="!tool['wh_data'].length" col-12>No item available in warehouse</ion-col>

        </ion-row>
        <div *ngIf="isGroupShown(i)">
          <ion-row *ngFor="let warehouse of tool['wh_data']" class="kid_child">
            <ion-col col-6 class="no_border_right" padding-top>{{warehouse.wh_name}}</ion-col>
            <ion-col col-3 class="no_border_right" padding-top>{{warehouse.wh_qty}}</ion-col>
            <ion-col col-3 class="no_border_right">


              <ion-item>
                <ion-input type="number" text-input-highlight-color-valid style="text-align:center!important" [(ngModel)]="warehouse.qty"
                  (input)='get(warehouse,tool)'></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- <span *ngIf="errorMsg" class="danger">
              Please select the required quantity
            </span> -->
        </div>
      </div>



    </ion-grid>
    <!-- <button *ngIf="sumbitButtonShown" type="button" ion-button full (click)="onClick()">Submit</button> -->



    <div padding>
      <span id="err_msg" class="red-status"> {{error_msg}}</span>
      <span id="suc_msg" class="red-status">{{success_msg}}</span>


      <button type="button" full block ion-button (click)="onClick(tool)">Submit</button>
    </div>
  </ion-card>
</ion-content>