<ion-header>
    <page-header></page-header>
  </ion-header>

  <ion-content class="background" padding  >
    <div  *ngIf="countries_list == '0' ">
      <h1 class="page_header_dif">Extend Date Request</h1>
      <ion-card *ngIf="!itemExist">
        <p style="text-align:center;">No extend date approvals needed</p>
      </ion-card>
      <ion-card *ngIf="itemExist" class="bkgrnd_trnsprnt">
        <ion-grid>
          <ion-row class="title_table row">
            <ion-col col-3>
              <strong>Order No.</strong>
            </ion-col>
            <ion-col col-3>
              <strong>FE Name</strong>
            </ion-col>
            <ion-col col-3>
              <strong>Old Return Date</strong>
            </ion-col>
            <ion-col col-3 class="last_child_no">
              <strong>New Return Date</strong>
            </ion-col>
          </ion-row>

          <div *ngFor="let order of orders; let i=index" text-wrap [ngClass]="{active: isGroupShown(i)}"   class="rowme">
            <ion-row>
              <ion-col col-3 class="first_txt" (click)="toggleGroup(i,order)">
                <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" class="textcolor">
                </ion-icon>
                <span class="textcolor"> {{order.order_info.order_number}}</span>
              </ion-col>
              <ion-col col-3>
                {{order.order_info.sso}}
              </ion-col>
              <ion-col col-3>
                {{order.old_return_date}}
              </ion-col>
              <ion-col col-3 class="last_txt">
                {{order.new_return_date}}
              </ion-col>
            </ion-row>
            <ion-row *ngIf="isGroupShown(i) && !errMsg" class="kid_table row ">
              <ion-col col-3>
                <strong>Tool No.</strong>
              </ion-col>
              <ion-col col-5>
                <strong>Tool Des.</strong>
              </ion-col>
              <ion-col col-4 class="no_border_right">
                <strong>Asset No.</strong>
              </ion-col>

            </ion-row>


            <div *ngIf="isGroupShown(i)">
              <ion-row *ngFor="let tool of order['tools']" class="kid_child">
                <ion-col col-3 class="first_txt">{{tool.part_number}}</ion-col>
                <ion-col col-5>{{tool.part_description}}</ion-col>
                <ion-col col-4 class="last_txt">{{tool.asset_number}}</ion-col>
              </ion-row>

              <ion-row >
                <button class="button_hear" ion-button round icon-start (click)="extendDate(order, 1)" >
                  Approve
                </button>
                <button class="button_hear" ion-button round icon-end color="danger" (click)="extendDate(order, 2)" style="float: right;">
                  Reject
                </button>

              </ion-row>


              <ion-row *ngIf="errMsg" >
              <span class="danger">Waiting for FE to FE Transfer Approval</span>
              </ion-row>
            </div>
          <!--  <button *ngIf="!errMsg" class="button_hear" ion-button round icon-start (click)="extendDate(order, 1)" >
              Approve
            </button>
            <button *ngIf="!errMsg" class="button_hear" ion-button round icon-end color="danger" (click)="extendDate(order, 2)" style="float: right;">
              Reject
            </button>
          -->


          </div>

        </ion-grid>
      </ion-card>
    </div>
    <div *ngIf="countries_list == '1' ">
      <h2 class="page_header_dif">Extend Date Approvals</h2>
      <ion-card *ngIf="!itemExist">
        <p style="text-align:center;">There is no item for transfer</p>
      </ion-card>
      <ion-card *ngIf="itemExist" class="bkgrnd_trnsprnt">
        <ion-grid>
            <ion-row class="title_table row">
                <ion-col col-4 col-sm class="no_border_right first_txt">
                      <strong>Country Name</strong>
                    </ion-col>
                <ion-col col-4 col-sm class="no_border_right first_txt">
                  <strong>Requests</strong>
                </ion-col>
                <ion-col col-4 col-sm>
                  <strong>Actions</strong>
                </ion-col>

              </ion-row>
              <ion-row *ngFor="let extendDate of countries_list_data" class="addressbg">
                <ion-col class="no_border_right first_txt">
                  {{extendDate.display_name}}
                </ion-col>
                <ion-col class="no_border_right first_txt" >
                  {{extendDate.count}}
                </ion-col>
                <ion-col class="no_border">
                  <button type="button" ion-button full (click)="viewCountryData(extendDate.country_id)">View</button>
                </ion-col>
              </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </ion-content>
