page-feorders {
  #err_msg {
    color: red;
  }
    .tickMark{
        float : right;
        font-size:1.6em;
        color: #488aff;
    }

.searchbar-input{

border: 1px solid #2494F2;


}


.item-ios p {
    /* overflow: inherit; */
    /* font-size: 1.4rem; */
    /* line-height: normal; */
    /* text-overflow: inherit; */
    color: #428dff !important;
    margin: 0 0 2px;
    /* text-overflow: unset; */
    display: block;
    white-space: normal;
}
.button-ios {
    border-radius: 4px;
    height: 2.8em;
    font-size: 1.4rem;
     color: white;
    background-color: #488aff;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
}


.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #545050;
    font-size: 15px;
    padding: 10px 28px;
    margin-top: 2px;
}

.label-md {
    margin: 15px -10px 4px -8px;
}
.item-md p {
    /* overflow: inherit; */
    /* font-size: 1.4rem; */
    /* line-height: normal; */
    /* text-overflow: inherit; */
    color: #428dff !important;
    margin: 0 0 2px;
    /* text-overflow: unset; */
    display: block;
    white-space: normal;
}





#badge-icon {
    position: relative;
    font-weight: bold;
    font-size: 1.7em;
    margin-left: 15px;
    color: #154492;
}
ion-badge {
    padding: 3px 5px;
    text-align: center;
    display: inline-block;
    min-width: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
}


.mn{
    padding-right: 42px!important;
}
.nm{
    ion-badge{
        color: white;
        /* padding-bottom: 1px; */
        /* margin-top: -71px; */
        /* margin-top: -25px; */
        background:red;
        POSITION: absolute;
        /* padding: 47px; */
        margin-top: -21px;
        font-family: 'Roboto', sans-serif;
        margin-left: -4px;

    }
}

.badge-md {
    border-radius: 4px;
    color: #fff;
    background-color: #488aff;
    position: absolute;
    font-weight: bold;
    border-radius: 50%;
    top: 1px;
    left: 27px;
    /* padding-top: 3px; */
    font-size: 10px;
    border: 0px solid;
    color: #ffffff;
    background-color: #ff0303;
    font-family: 'Roboto', sans-serif;

}
ion-label {
  font-size: 12px;
}


.searchbar-ios {
    padding: 0 8px;
    min-height: 44px;
    border-top: 0.55px solid transparent;
    border-bottom: 0.55px solid rgba(0, 0, 0, 0)!important;
    background: rgba(0, 0, 0, 0)!important;
}

.item-ios.item-block .item-inner {
    padding-right:0px!important;
    border-bottom: 0.55px solid #c8c7cc;
}


.item-ios .item-button {
    height: 24px;
    font-size: 1.5rem;
    width: 99%;
    padding: 19px;

}
.item-md p {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #008BF2;
}

.item-md .item-button {
    padding: 0 0.6em;
    height: 25px;
    font-size: 1.2rem;
    width: 100%;
}

.card-ios {
    margin: 0px;
    border-radius: 2px;
    border: 1px solid #c0e2fb;
   width: 100%;
    font-size: 1.4rem;
    background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}






.item-ios p {
    /* overflow: inherit; */
    /* font-size: 1.4rem; */
    /* line-height: normal; */
    /* text-overflow: inherit; */
    color: #428dff!important;
    margin: 0 0 2px;
}


.card-content-md {
    padding: 18px 5px;
    font-size: 1.4rem;
    line-height: 1.5;
    border: 1px solid #96d1fc;
}

.list-ios > .item-block:first-child {
    border-top: 0px solid #c8c7cc!important;
    border-bottom: 0px solid #c8c7cc!important;


}

.button_hear {
width: 100%;
}



}
