<ion-header>
  <ion-navbar> <ion-title>Transaction Country</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Country</ion-label>
    <ion-select [(ngModel)]="country">
      <ion-option
        [value]="item.name"
        *ngFor="let item of countryList"
        (ionChange)="getCountry($event, item)"
        >{{ item.name }}</ion-option
      >
    </ion-select>
  </ion-item>

  <p style="font-weight: bold; font-size: 12px; color: red;" absolute-drag>
    {{ error_msg }}
  </p>

  <button ion-button (click)="submit()">Submit</button>
</ion-content>
