<ion-header>
  <page-header></page-header>
</ion-header>

<ion-content class="background" padding>
  <div *ngIf="countries_list == '0' ">
    <h2 class="page_header_dif">Stock Transfer Request</h2>

    <ion-card *ngIf="stockTransferList.length == 0">
      <p style="text-align:center;">No Request for Stock Transfer</p>
    </ion-card>

    <ion-card *ngIf="stockTransferList.length != 0" class="bkgrnd_trnsprnt">
      <ion-grid>
        <ion-row class="title_table no-row">
          <ion-col col-sm-4>
            <strong>Order / ST No</strong>
          </ion-col>

          <ion-col col-sm-4>
            <strong>Order Type</strong>
          </ion-col>

          <ion-col col-sm-4 class="no_border_right">
            Actions
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let stockTransfer of stockTransferList " class=" row rowme">

          <ion-col *ngIf="stockTransfer.order_type == 1" col-sm-4 class="first_txt no_border_right text ack">
            {{stockTransfer.stn_number}}
          </ion-col>

          <ion-col *ngIf="stockTransfer.order_type == 2" col-sm-4 class=" first_txt no_border_right text ack">
            {{stockTransfer.order_number}}
          </ion-col>

          <ion-col *ngIf="stockTransfer.order_type == 1" col-sm-4 class="last_txt text ack">
            For WH
          </ion-col>

          <ion-col *ngIf="stockTransfer.order_type == 2" col-sm-4 class="last_txt text ack">
            For Order
          </ion-col>

          <ion-col *ngIf="stockTransfer.order_type == 1" col-sm-4 class="no_border">

            <button type="button" ion-button (click)="whDetails(stockTransfer)">

              <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>

            </button>

          </ion-col>

          <ion-col *ngIf="stockTransfer.order_type == 2" class="no_border">
            <button ion-button icon-start small (click)="refreshOrder(stockTransfer)">
              <ion-icon ios="ios-refresh-circle" md="md-refresh-circle"></ion-icon>
            </button>
            <button ion-button small (click)="orderDetails(stockTransfer)">
              Raise ST
            </button>
            
            <button ion-button small (click)="initiatePS(stockTransfer)">
              Initiate Partial Shipment
            </button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div *ngIf="countries_list == '1' ">
    <h2 class="page_header_dif">Stock Transfer Request</h2>

    <ion-card *ngIf="stockTransferList.length == 0">
      <p style="text-align:center;">No Request for Stock Transfer</p>
    </ion-card>

    <ion-card *ngIf="stockTransferList.length != 0" class="bkgrnd_trnsprnt">
      <ion-row class="title_table row">
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Country Name</strong>
        </ion-col>
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Requests</strong>
        </ion-col>
        <ion-col col-4 col-sm>
          <strong>Actions</strong>
        </ion-col>

      </ion-row>
      <ion-row *ngFor="let address of countries_list_data" class="addressbg">
        <ion-col class="no_border_right first_txt">
          {{address.display_name}}
        </ion-col>
        <ion-col class="no_border_right first_txt">
          {{address.count}}
        </ion-col>
        <ion-col class="no_border">
          <button type="button" ion-button full (click)="viewCountryData(address.country_id)">View</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>