<ion-header> <page-header></page-header> </ion-header>

<ion-content padding>
  <div *ngIf="countries_list == '0'">
    <h2 class="page_header_dif">Address Change Request</h2>
    <ion-card *ngIf="!itemExist">
      <p style="text-align:center;">No Request for Address Change</p>
    </ion-card>
    <ion-card *ngIf="itemExist">
      <ion-row class="title_table row">
        <ion-col col-4 col-sm> <strong>Order Details</strong> </ion-col>
        <ion-col col-4 col-sm> <strong>Old Address</strong> </ion-col>
        <ion-col col-4 col-sm> <strong>New Address</strong> </ion-col>

        <ion-col class="no_border_right"> </ion-col>
      </ion-row>
      <ion-row *ngFor="let address of addressList" class="addressbg">
        <ion-col
          class="no_border_right first_txt"
          *ngIf="address.order_info.return_order_id == null"
        >
          {{ address.order_info.order_number }},{{ address.order_info.sso }}
        </ion-col>
        <ion-col
          class="no_border_right first_txt"
          *ngIf="address.order_info.return_order_id != null"
        >
          {{ address.order_info.return_number }},{{ address.order_info.ro_sso }}
        </ion-col>
        <ion-col
          class="no_border_right first_txt"
          *ngIf="
            address.customer_info != undefined && address.customer_info != ''
          "
        >
          {{ address.customer_info.address1 }} <br />
          {{ address.customer_info.address2 }} <br />
          {{ address.customer_info.address3 }} <br />
          {{ address.customer_info.address4 }} <br />
          {{ address.customer_info.zip_code }}
        </ion-col>

        <ion-col
          class="no_border_right first_txt"
          *ngIf="
            address.customer_info == undefined || address.customer_info == ''
          "
        >
          NaN <br />
          NaN <br />
          NaN <br />
          NaN <br />
          NaN
        </ion-col>

        <ion-col class="last_txt">
          {{ address.order_info.address1 }} <br />
          {{ address.order_info.address2 }} <br />
          {{ address.order_info.address3 }} <br />
          {{ address.order_info.address4 }} <br />
          {{ address.order_info.pin_code }}
        </ion-col>
        <ion-col class="no_border">
          <button type="button" ion-button full (click)="onClick(1, address)">
            Approve
          </button>
          <button
            type="button"
            ion-button
            color="danger"
            full
            (click)="onClick(2, address)"
          >
            Reject
          </button>
        </ion-col>
      </ion-row>
      <h6 id="err_msg">{{ error_msg }}</h6>
      <h6 id="suc_msg">{{ success_msg }}</h6>
    </ion-card>
  </div>
  <div *ngIf="countries_list == '1'">
    <h2 class="page_header_dif">Address Change Request</h2>
    <ion-card *ngIf="!itemExist">
      <p style="text-align:center;">No Request for Address Change</p>
    </ion-card>
    <ion-card *ngIf="itemExist">
      <ion-row class="title_table row">
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Country Name</strong>
        </ion-col>
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Requests</strong>
        </ion-col>
        <ion-col col-4 col-sm> <strong>Actions</strong> </ion-col>
      </ion-row>
      <ion-row *ngFor="let address of countries_list_data" class="addressbg">
        <ion-col class="no_border_right first_txt">
          {{ address.display_name }}
        </ion-col>
        <ion-col class="no_border_right first_txt">
          {{ address.count }}
        </ion-col>
        <ion-col class="no_border">
          <button
            type="button"
            ion-button
            full
            (click)="viewCountryData(address.country_id)"
          >
            View
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
