  <ion-header>
  <page-header></page-header>
</ion-header>

<ion-content class="background" padding>
  <div  *ngIf="whs_list == '0' ">
  <h2 class="page_header_dif">Ackowledge WH Tools</h2>
  <ion-card class="bkgrnd_trnsprnt">

    <ion-grid>
      <ion-row class="title_table">
        <ion-col col-4>
          <strong>ST Number.</strong>
        </ion-col>
        <ion-col col-8>
          <strong>From WH</strong>
        </ion-col>

      </ion-row>

      <div *ngFor="let alert of alertResult; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}"  class="rowme">
        <div class="title_table_inside">
          <ion-row>
            <ion-col col-4 class="textcolor first_txt no_border_right">
              <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'">
              </ion-icon>{{alert.header1}}</ion-col>
            <ion-col col-8 class="no_border_right">
              <ion-icon  name="pin"></ion-icon>{{alert.header2}}
            </ion-col>
          </ion-row>
        </div>

        <ion-row *ngIf="isGroupShown(i)" class="kid_table">
          <ion-col col-3  >
            <strong >Tool No</strong>
          </ion-col>
          <ion-col col-5  >
            <strong >Tool Desc.</strong>
          </ion-col>
          <ion-col col-4  >
            <strong >Asset </strong>
          </ion-col>
        </ion-row>
        <div *ngFor="let toolDetail of alert.toolsDetails">
          <div>
            <ion-row  *ngIf="isGroupShown(i)" class="kid_child">
              <ion-col  col-4>{{toolDetail.subheader1}}</ion-col>
              <ion-col  col-4>{{toolDetail.subheader2}}</ion-col>
              <ion-col  col-4>{{toolDetail.subheader3}}</ion-col>
            </ion-row>
          </div>
        </div>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <h6 align="center" id="err_msg">{{error_msg}}</h6>
    </ion-grid>
  </ion-card>
  </div>

  <div *ngIf="whs_list == '1' " >
        <h2 class="page_header_dif">Ackowledge WH Tools</h2>
        
          <ion-row class="title_table row">
            <ion-col col-4 col-sm class="no_border_right first_txt">
                  <strong>WH Name</strong>  
                </ion-col>
            <ion-col col-4 col-sm class="no_border_right first_txt">
              <strong>Requests</strong>
            </ion-col>
            <ion-col col-4 col-sm>
              <strong>Actions</strong>
            </ion-col>
            
          </ion-row>
          <ion-row *ngFor="let address of whs_list_data" >
            <ion-col class="no_border_right first_txt">
              {{address.display_name}}
            </ion-col>
            <ion-col class="no_border_right first_txt" >
              {{address.count}}      
            </ion-col>
            <ion-col class="no_border">
              <button type="button" ion-button full (click)="viewWhData(address.wh_id)">View</button>      
            </ion-col>
          </ion-row>  
        
  </div>
  
</ion-content>