<ion-header>
  <page-header></page-header>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-item>
      <ion-label>
        <strong>Pickup Point</strong>
      </ion-label>
      <ion-select [(ngModel)]="pickupPoint" (ngModelChange)="pickPointChange(pickupPoint)">
        <ion-option value="1">Customer</ion-option>
        <ion-option value="2">Warehouse</ion-option>
        <ion-option value="3">Others</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="role_id == '5' && (pickupPoint == '1' || pickupPoint == '3')">
      <ion-item>
        <ion-label>
          <strong>Ship By</strong>
        </ion-label>
        <ion-select [(ngModel)]="whId1">
          <ion-option *ngFor="let warehouse1 of shipByInfo" [value]="warehouse1.wh_id">
            {{ warehouse1.wh_code }} - {{ warehouse1.name }}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>

    <div *ngIf="pickupPoint == '1'">
      <strong> System ID </strong>
      <ion-input type="text" [value]="systemId" [(ngModel)]="systemId"></ion-input>
      <button clear item-right class="btnv" (click)="getCustDet()">
        Validate
      </button>
    </div>

    <ion-item *ngIf="pickupPoint == '2'" padding>
      <ion-label> Warehouse </ion-label>

      <ion-select [(ngModel)]="selected_ordered_to_wh" (ionChange)="mainAddress()">
        <ion-option *ngFor="let whs of whInfo" [value]="whs.wh_id">{{ whs.wh_code }}-({{ whs.name }})</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="pickupPoint == '2'" padding>
      <strong>Address</strong>
      <p>{{ address1 }}</p>
      <p>{{ address2 }}</p>
      <p>{{ city }}</p>
      <p>{{ state }}</p>
      <p>{{ pincode }}</p>
    </ion-item>

    <div *ngIf="pickupPoint == '1'">
      <ion-item-group padding>
        <strong>SITE ID</strong>
        <p>{{ siteId }}</p>
      </ion-item-group>
    </div>
    <div *ngIf="click == 0 && pickupPoint == '1'">
      <ion-item-group padding>
        <strong>Address</strong>
        <p>{{ main_address1 }}</p>
        <p>{{ main_address2 }}</p>
        <p>{{ main_city }}</p>
        <p>{{ main_state }}</p>
        <p>{{ main_pincode }}</p>
      </ion-item-group>
    </div>
    <div *ngIf="pickupPoint == '1'">
      <strong>Change Address</strong>
      <ion-list radio-group [(ngModel)]="click" (ngModelChange)="mainAddress1()">
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="click == '1' || pickupPoint == '3'">
      <strong>Address Line 1</strong>
      <ion-input type="text" [value]="address1" [(ngModel)]="address1"></ion-input>

      <strong>Address Line 2</strong>
      <ion-input type="text" [value]="address2" [(ngModel)]="address2"></ion-input>

      <strong>City</strong>
      <ion-input type="text" [value]="city" [(ngModel)]="city"></ion-input>

      <strong>State</strong>
      <ion-input type="text" [value]="state" [(ngModel)]="state"></ion-input>

      <strong>Pincode</strong>
      <ion-input type="text" [value]="pincode" [(ngModel)]="pincode"></ion-input>
    </div>

    <div>
      <ion-item>
        <ion-label>
          <strong>Return Type</strong>
        </ion-label>
        <ion-select [(ngModel)]="returnType" (ionChange)="reorderType()">
          <ion-option value="1">Return To WH</ion-option>
          <ion-option value="2">Return For Calibration</ion-option>
          <ion-option value="3">FE to FE By Hand</ion-option>
          <ion-option value="4">FE to FE By Courier</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="message" class="red">
        Please select the Return type
      </ion-item>
    </div>

    <div *ngIf="returnType == 1 || returnType == 2">
      <ion-item>
        <ion-label>
          <strong>Return To WH</strong>
        </ion-label>
        <ion-select [(ngModel)]="whId">
          <ion-option *ngFor="let warehouse of warehousesInfo" [value]="warehouse.wh_id">
            {{ warehouse.wh_code }} - {{ warehouse.name }}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>

    <div *ngIf="returnType == 3 || returnType == 4">
      <ion-item>
        <ion-label>
          <strong>FE order list</strong>
        </ion-label>
        <ion-select *ngIf="feOrderList!=false" [(ngModel)]="orderNum" (ionChange)="onFeOrderChange(warehouse)">
          <ion-option *ngFor="let warehouse of feOrderList; let i = index">
            {{ warehouse.o_data}}
          </ion-option>
        </ion-select>
      </ion-item>

      <p>
        <font size="3" color="{{ orderIdStatusColor }}">{{ orderIdStatus }}</font>
      </p>

      <button clear item-right class="btnv" (click)="checkOrderNum()">
        Validate
      </button>
    </div>
    <ion-item *ngIf="returnOrderPref">
        <ion-label> Return Order Notes </ion-label>
        <ion-input type="text" [value]="return_order_notes" [(ngModel)]="return_order_notes"></ion-input>
      </ion-item>

    <!-- <div *ngIf="returnType == 3 || returnType == 4">
      <strong>Order Number </strong>

      <ion-input type="text" [value]="orderNum" [(ngModel)]="orderNum"></ion-input>

      <p>
        <font size="3" color="{{orderIdStatusColor}}">{{ orderIdStatus }}</font>
      </p>

      <button clear item-right class="btnv" (click)="checkOrderNum()">
        Validate
      </button>

      <ion-item *ngIf="message1" class="red">
        Submission was successful
      </ion-item>
    </div> -->

    <h6 id="err_msg">{{ error_msg }}</h6>

    <button type="submit" ion-button (click)="onReturnTools()">Submit</button>

    <!-- <button type="Done" ion-button end (click)="Done()"> Move </button> -->

    <!-- <button ion-button round block type="submit" > SUBMIT </button> -->

    <!--
      <button type="submit"  ion-button (click)="onClick()" [disabled]="!formCtrl.form.valid">Submit button</button>
    -->
  </ion-grid>

  <!-- </form> -->

  <!-- </div> -->
</ion-content>