page-return-tool {
  #err_msg {
    color: red;
  }
  #suc_msg {
    color: green;
  }

  .btnv {
    color: white;
    background: #008bf2;
    padding: 10px 12px;
    border-radius: 6px;
    text-align: center;
    font-size: 1em;
  }
}
