<ion-navbar>


<ion-row>
<ion-col col-8>
  <ion-title>


<img class="header-img" alt="logo" height="40" src="assets/img/logo.svg" >
  </ion-title>
</ion-col>
<ion-col col-2>
  <button ion-button icon-only clear end (click)="showNotif()"   class="notify">
    <ion-icon id="badge-icon" name="notifications">
      <ion-badge *ngIf="globals.getNotifCount() != 0" id="badge">{{this.globals.getNotifCount()}}</ion-badge>
    </ion-icon>
  </button>


</ion-col>
<ion-col col-2>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

</ion-col>
</ion-row>
      <!-- <button ion-button icon-only clear end (click)="logOut()">
      <ion-icon id="badge-icon" name="power"></ion-icon>
    </button> -->

</ion-navbar>
