page-header {

 #badge-icon {
    position: relative;
    font-weight: bold;
    font-size: 1.7em;
    margin-left: 15px;
    color: #154492;
    margin-top: -8px;
}
.header-img{


  margin: auto;
  float: left;


  display: block;




}


  #badge {
    position: absolute;
    font-weight: bold;
    border-radius: 50%;
    top: -8px;
    left: 17px;
    /* padding-top: 3px; */
    font-size: 10px;
    border: 0px solid;
    color: #ffffff;
    background-color: #ff0303;
    font-family: 'Roboto', sans-serif;
  }

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{

color:#ffffff!important;



}
ion-badge {
  padding: 3px 5px;
  text-align: center;
  display: inline-block;
  min-width: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
}

  .toolbar-background-md {
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #009CF2, #007DF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #009CF2, #007DF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: 0px solid #c8c7cc!important;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: #ffffff !important;
  background-color: transparent;
}

.bar-button-clear-ios, .bar-button-default.bar-button-ios-clear, .bar-button-clear-ios-clear {
  color: #ffffff;
  background-color: transparent;
}
.toolbar-title-md{

text-align: center;


}
.button-ios {
  border-radius: 4px;
  height: 2.8em;
  font-size: 1.4rem;
  color: #fff;
  background-color: #488aff;
  margin: 0.4rem 0.2rem;
  padding: 0 1em;
  /* margin-left: 3px; */
  /* margin-right: 50px; */
  /* margin-right: -15px; */
  padding-right: 7px!important;
}

ion-col{

border:none;
}
ion-col.col {
  border: none!important;
  border-bottom: none;
}
.button-clear-md {
  border-color: transparent;
  color: #488aff;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1;
  padding-right: 29px!important;
  padding-top: 10px!important;
}


}
