<ion-header> <page-header class="header_co"></page-header> </ion-header>

<ion-content class="background" padding>
  <ion-card class="bkgrnd_trnsprnt">
    <h2 class="page_header_dif">Extend Date</h2>
    <ion-item>
      <ion-label>Order No.</ion-label>
      <ion-label>{{ order_no }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Return extendDate</ion-label>
      <ion-label>{{ returnDate }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Extended Return Date</ion-label>
      <ion-datetime
        displayFormat="YYYY-MM-DD"
        [(ngModel)]="extendedDate"
        min="{{ returnDate }}"
        max="2100"
      ></ion-datetime>
      <ion-icon name="calendar" item-right></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Remarks</ion-label>
      <ion-input
        type="text"
        [value]="remarks"
        [(ngModel)]="remarks"
        class="rowme"
      ></ion-input>
    </ion-item>

    <h6 id="err_msg">{{ error_msg }}</h6>
    <div padding>
      <button
        type="submit"
        ion-button
        full
        block
        (click)="extendDate()"
        class="center"
      >
        Submit
      </button>
    </div>
  </ion-card>
</ion-content>
