ion-icon {
    &[class*="appname-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1.2em;
        height: 1.2em;



    }
    // custom icons
    &[class*="appname-customicon1"] {
        mask-image: url(../assets/img/menu-03.svg);
    }
    &[class*="appname-customicon2"] {
        mask-image: url(../assets/img/menu-04.svg);
    }
    &[class*="appname-customicon3"] {
        mask-image: url(../assets/img/menu-05.svg);
    }
    &[class*="appname-customicon10"] {
        mask-image: url(../assets/img/menu-07.svg);
    }




    &[class*="appname-customicon4"] {
        mask-image: url(../assets/img/menu-06.svg);
    }

    &[class*="appname-customicon5"] {
        mask-image: url(../assets/img/log-46.svg);
    }
    &[class*="appname-customicon6"] {
        mask-image: url(../assets/img/icon-63.svg);
    }
    &[class*="appname-customicon7"] {
        mask-image: url(../assets/img/icon-62.svg);
    }
    &[class*="appname-customicon8"] {
        mask-image: url(../assets/img/icon-61.svg);
    }

    &[class*="appname-customicon9"] {
        mask-image: url(../assets/img/icon-60.svg);
    }
    &[class*="appname-customicon9"] {
        mask-image: url(../assets/img/icon-60.svg);
    }



}