<ion-header> <page-header> </page-header> </ion-header>

<ion-content padding="true" class="paddme">
  <ion-row> <h3>Tool Availability in WH</h3> </ion-row>

  <ion-row class="heading">
    <ion-col col-6> <strong>Warehouse</strong> </ion-col>
    <ion-col col-6> <strong>Qty</strong> </ion-col>
  </ion-row>

  <ion-row padding *ngFor="let item of inventory" (click)="pressEvent(item)">
    <ion-col col-6>
      <strong>{{ item.wh_name }}</strong>
    </ion-col>
    <ion-col col-6>
      <strong>{{ item.quantity }}</strong>
    </ion-col>
  </ion-row>

  <ion-row padding>
    <button ion-button block (click)="cancel()">Cancel</button>
  </ion-row>
</ion-content>
