<!-- <ion-nav [root]="rootPage"></ion-nav> -->

<ion-menu [content]="content" id="menu1" side="right">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages1" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
          <span class="menutext">{{p.title}}</span>
        </button>
      </ion-list>
      <button ion-button full (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
        &nbsp; Logout</button>
  
    </ion-content>
  </ion-menu>
  
  <ion-menu [content]="content" id="menu2" side="right">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages2" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
          <span class="menutext">{{p.title}}</span>
        </button>
      </ion-list>
  
      <button ion-button full (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
        &nbsp; Logout</button>
  
  
    </ion-content>
  
  </ion-menu>
  
  <ion-menu [content]="content" id="menu3" side="right">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages3" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
          <span class="menutext">{{p.title}}</span>
        </button>
      </ion-list>
  
      <button ion-button full (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
        &nbsp; Logout</button>
  
  
    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
