// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




ion-app.md [padding] .scroll-content {
   padding:0px!important;
}

.iconme{

   background: url('assets/img/log-50.svg');
   padding-left: 20px;
   display: block;
}

.danger{

color:red;

}
.whtran{

  white-space: normal;
  text-align: center;

}
.title_table > ion-col {
  text-align: center;
  border: none;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  vertical-align: middle;
}





.center{

margin:auto;
text-align: center;
display: block;
margin-top: 20px;

}

button.disable-hover.button.button-ios.button-default.button-default-ios {
  width: 97%;
}
.textcolor {
  color: #0093F2!important;
}

.noborder{

    border:0px solid white!important;


      }



   $black:black;



   page-header .bar-button-default-ios, page-header .bar-button-default.bar-button-ios-default, page-header .bar-button-clear-ios-default {
        color: #ffffff !important;
     padding-top: 16px;
        background-color: transparent;
    }

    button.disable-hover.button.button-ios.button-clear.button-clear-ios {
      padding-top: 20px;
    }

    button.disable-hover.button.button-ios.button-clear.button-clear-ios {
      background: none;
    }
    button.disable-hover.button.button-ios.button-default.button-default-ios {
      width: 100%;
    }
    .button-ios {
      border-radius: 4px;
      height: 2.8em;
      font-size: 1.4rem;
      color: #fff;
      background-color: #488aff;
      margin: 0.4rem 0.2rem;
      padding: 0 1em;
    }

       .toolbar-ios ion-title {
        left: 0;
        top: 0;
        padding: 0 8px 1px;
        position: absolute;
        width: 100%;
        height: 100%;
       -webkit-transform: translateZ(0);
       transform: translateZ(0);
       pointer-events: none;
    }




    ion-app.ios [padding] .scroll-content {
          padding: 0px;
    }

         .header-ios .toolbar-ios:last-child .toolbar-background-ios {
          border-width: 0 0 0.55px;
          background: #56CCF2;
          background: -webkit-linear-gradient(to right, #009CF2, #007DF2);
          background: linear-gradient(to right, #009CF2, #007DF2);
        }






        ion-avatar {
             text-align: center;
                margin: auto;
          }
          .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
             border-radius:0%;
              overflow: hidden;
              width: 50px;
              height: 50px;
               text-align: center;
              margin: auto;
              margin: 0 auto;
           }

          .item-ios ion-avatar {
            min-width: 36px;



            min-width: 36px;

            /* height: 42px; */
          }


   ion-img {
     left: 0;
     right: 0;
     margin:0 auto;
     width: 50%;
     height: 15%;
     background: rgba(0, 0, 0, 0);
   }

   ion-avatar {
     width: 50%;
     height: 100%;
   }

   .bkgrnd_trnsprnt {
     background: rgba(0, 0, 0, 0);
   }

   ion-col {
     width: 100%;
   }



 .col {
     color:grey;

 }


 .noborder{

border:0px solid white!important;


 }

 .textcolor{
   color:#0093F2;
 }

 .list-ios {
  margin: 0px 0 -1px!important;
}
 ion-row.title_table.row {
   background: #3196f2;
   padding: 10px;
}
 .title_table > ion-col  {
 text-align: center;
 border: none;

 color: white;
 font-family: 'Roboto', sans-serif;


 font-size:13px;
 vertical-align: middle;


 }


 ion-row.kid_table.row {
  background: #e0dcdc;
  padding: 14px;
}
 .page_header_dif{


 padding: 20px;

 text-align: center;
 font-size: 18px;
 }



 ion-avatar {
    text-align: center;
    margin: auto;
}


 .title_table_inside > ion-col  {


 padding: 10px;
 font-weight:200!important;
 color: $black;
 font-family: 'Roboto', sans-serif;
 overflow: hidden;
 white-space: pre-wrap;
 font-size:13px;
 border-right: 0px;
 display:table-cell;
 text-align:center;
 width:100%;
 vertical-align: middle;
 }

 .title_table_inside > ion-row {
 margin-top: 20px;

   }







       .card-ios {
         margin: 12px;
         border-radius: 2px;
         width: calc(100% - 24px);
         font-size: 1.4rem;
         background: #fff;
         -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0) !important;
         box-shadow: 0 1px 2px rgba(0, 0, 0, 0)!important;
     }


   .kid_title_table> ion-col {

 color:white;
 background-color: #B2B2B2;

 padding:15px;


   }


   .kid_child > ion-row{
    border-bottom: 1px solid #a5cbef;
    padding: 10px;



   }


.yellow-status{

    background: yellow;
    padding: 7px;
    border-radius: 44px;
}


.red-status{

    color:red;

}



   .kid_child {

    border-bottom: 2px solid #a5cbef;
   }


.ack{

    padding-top: 20px;

    }
    .col {
     color: grey;
        text-align: center;
      }

      .rowme{
        border-bottom: 1px solid #dfdfdf!important;
    }

    #err_msg {
      color: red;
      text-align: center;
      margin: auto;
      display: block;


    }


  #suc_msg {
    color: green;
    text-align: center;
    margin: auto;
    display: block;

;
  }
  .bgm{

    background-color: #F1F1F1!important;
}