<ion-header>
  <page-header></page-header>
</ion-header>
<ion-content padding>
  <ion-item *ngIf="role_id == '5'">
    <ion-label>Ship by WH</ion-label>
    <ion-select [(ngModel)]="wh_id">
      <ion-option *ngFor="let whs of shipBy" [value]="whs.wh_id">{{ whs.name }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-list radio-group [(ngModel)]="orderType" (ngModelChange)="reorderType()">
    <h3 padding>Select Type</h3>
    <ion-item class="bgm">
      <ion-label>Request For Tool</ion-label>
      <ion-radio value="0"></ion-radio>
    </ion-item>

    <ion-item class="bgm">
      <ion-label>Transfer from FE</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item padding-top *ngIf="orderType == '1'">
    <ion-label> FE order number </ion-label>
    <ion-select *ngIf="feOrderList!=false" [(ngModel)]="orderId" (ionChange)="orderChange(servicetype)">
      <ion-option *ngFor="let servicetype of feOrderList; let i = index">{{ servicetype.o_data}}</ion-option>
    </ion-select>
  </ion-item>
  <p>
    <font size="3" color="{{ orderIdStatusColor }}">{{ orderIdStatus }}</font>
  </p>
  <button clear item-right *ngIf="orderType == '1'" class="btnv" (click)="checkOrderId()">
    Validate
  </button>

  <!-- <div *ngIf="orderType == '1'" padding>
    <strong>FE1 Order Number</strong>
    <ion-input
      type="text"
      [value]="order_id"
      [(ngModel)]="orderId"
      class="rowme"
    ></ion-input>
    <p>
      <font size="3" color="{{ orderIdStatusColor }}">{{ orderIdStatus }}</font>
    </p>
    <button clear item-right class="btnv" (click)="checkOrderId()">
      Validate
    </button>
  </div> -->

  <ion-item padding-top>
    <ion-label> Service Type </ion-label>
    <ion-select [(ngModel)]="serviceType">
      <ion-option *ngFor="let servicetype of servicetypelist; let i = index" value="{{ servicetype.service_type_id }}">{{ servicetype.name }}</ion-option>
    </ion-select>
  </ion-item>
  <div *ngIf="serviceType == 1">
    <ion-list radio-group [(ngModel)]="readiness">
      <ion-list-header>
        <b> Site Readiness</b>
      </ion-list-header>
      <ion-item class="bgm">
        <ion-label>Yes</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item class="bgm">
        <ion-label>No</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <div *ngIf="readiness == '2'" padding>
      <p>Site Readiness</p>
      <ion-input type="text" [value]="site_remarks" [(ngModel)]="site_remarks" class="rowme"></ion-input>
    </div>
  </div>
  <div *ngIf="serviceType == 5" padding>
    <strong>Other Remarks</strong>
    <ion-input type="text" [value]="other_remarks" [(ngModel)]="other_remarks" class="rowme"></ion-input>
  </div>
  <ion-item>
    <ion-label> Request Date </ion-label>
    <ion-datetime disabled displayFormat="DD/MM/YYYY" [(ngModel)]="requestedDate" class="rowme"></ion-datetime>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Need Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="{{ requestedDate }}" max="2100" [(ngModel)]="neededDate"></ion-datetime>
        <ion-icon name="calendar" item-right></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label>Return Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="{{ neededDate }}" max="2100" (ionChange)="calculatedate()" [(ngModel)]="returnedDate"></ion-datetime>
        <ion-icon name="calendar" item-right></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label> Siebel SR Number </ion-label>
    <ion-input type="text" [value]="sebealSrNum" [(ngModel)]="sebealSrNum"></ion-input>
  </ion-item>
  <ion-item *ngIf="notesPreference">
      <ion-label> Notes </ion-label>
      <ion-input type="text" [value]="notes" [(ngModel)]="notes"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label> Delivery Point </ion-label>
    <ion-select [(ngModel)]="deliveryPoint" (ngModelChange)="resetAddress()">
      <ion-option value="1">Customer</ion-option>
      <ion-option value="2">Warehouse</ion-option>
      <ion-option value="3">Others</ion-option>
    </ion-select>
  </ion-item>
  <!--
    <ion-item *ngIf="deliveryPoint == '1'">
      <ion-label>System ID</ion-label>
      <ion-input type="text" [value]="systemId" [(ngModel)]="systemId" (input)="getCustDet()"></ion-input>
    </ion-item>
  -->

  <div class="ion-row" *ngIf="deliveryPoint == '1'">
    <ion-item>
      <ion-label>System ID</ion-label>
      <ion-input type="text" [value]="systemId" [(ngModel)]="systemId"></ion-input>
    </ion-item>
    <p>
      <font size="3" color="{{ systemIdColor }}">{{ systemIdStatus }}</font>
    </p>
    <div padding>
      <button clear item-right class="btnv" margin-top (click)="getCustDet()">
        Validate
      </button>
    </div>
  </div>

  <!--
    <ion-item *ngIf="err" > <span class=""> Invalid SystemId</span> </ion-item>
  -->
  <ion-item *ngIf="deliveryPoint == '2'" padding>
    <ion-label> Warehouse </ion-label>

    <ion-select [(ngModel)]="fe_to_wh_id" (ionChange)="getWhDet()">
      <ion-option *ngFor="let whs of whList" [value]="whs.wh_id">{{ whs.wh_code }}-({{ whs.name }})</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="deliveryPoint == '2'" padding>
    <strong>Address</strong>
    <p>{{ address1 }}</p>
    <p>{{ address2 }}</p>
    <p>{{ city }}</p>
    <p>{{ state }}</p>
    <p>{{ pincode }}</p>
  </ion-item>

  <div *ngIf="deliveryPoint == '1'">
    <ion-item-group padding>
      <strong>SITE ID</strong>
      <p>{{ siteId }}</p>
    </ion-item-group>
  </div>
  <div *ngIf="click == 0">
    <ion-item-group *ngIf="deliveryPoint == '1'" padding>
      <strong>Address</strong>
      <p>{{ main_address1 }}</p>
      <p>{{ main_address2 }}</p>
      <p>{{ main_city }}</p>
      <p>{{ main_state }}</p>
      <p>{{ main_pincode }}</p>
    </ion-item-group>
  </div>
  <div *ngIf="deliveryPoint == '1'">
    <h3 padding>Change Address</h3>
    <ion-list radio-group [(ngModel)]="click" (ngModelChange)="mainAddress($event)">
      <ion-item>
        <ion-label>Yes</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <!--
    <div *ngIf="addressChange == 1">
    <strong>Address Line 1</strong>
    <ion-input type="text" [value]="address1" [(ngModel)]="address1"></ion-input>

    <strong>Address Line 2</strong>
    <ion-input type="text" [value]="address2" [(ngModel)]="address2"></ion-input>

    <strong>City</strong>
    <ion-input type="text" [value]="city" [(ngModel)]="city"></ion-input>

    <strong>State</strong>
    <ion-input type="text" [value]="state" [(ngModel)]="state"></ion-input>

    <strong>Pincode</strong>
    <ion-input type="text" [value]="pincode" [(ngModel)]="pincode"></ion-input>

    </div>
  -->
  <div *ngIf="click == '1' || deliveryPoint == '3'" padding>
    <strong>Address Line 1</strong>
    <ion-input type="text" [value]="address1" [(ngModel)]="address1" class="rowme"></ion-input>
    <strong>Address Line 2</strong>
    <ion-input type="text" [value]="address2" [(ngModel)]="address2" class="rowme"></ion-input>
    <strong>City</strong>
    <ion-input type="text" [value]="city" [(ngModel)]="city" class="rowme"></ion-input>
    <strong>State</strong>
    <ion-input type="text" [value]="state" [(ngModel)]="state" class="rowme"></ion-input>
    <strong>Pincode</strong>
    <ion-input type="text" [value]="pincode" [(ngModel)]="pincode" class="rowme"></ion-input>
  </div>

  <div padding>
    <h6 id="err_msg">{{ error_msg }}</h6>
    <h6 id="suc_msg">{{ success_msg }}</h6>
    <button type="submit" ion-button (click)="onOrderTools()">Submit</button>
  </div>
</ion-content>