<ion-header> <page-header class="header_co"></page-header> </ion-header>

<ion-content padding>
  <div *ngIf="countries_list == '0'">
    <h1 class="page_header_dif">Tool Return</h1>

    <ion-card *ngIf="showMessage">
      <p style="text-align:center;">No Items to Return</p>
    </ion-card>
    <ion-card class="bkgrnd_trnsprnt" *ngIf="!showMessage">
      <ion-grid>
        <ion-row class="title_table row">
          <ion-col col-4> <strong>Order No.</strong> </ion-col>

          <ion-col col-4> <strong>Return Date</strong> </ion-col>

          <ion-col col-4 class="last_child_no">
            <strong>Actions</strong>
          </ion-col>
        </ion-row>

        <div
          *ngFor="let tool of returnTools; let i = index"
          text-wrap
          (click)="toggleGroup(i, tool)"
          [ngClass]="{ active: isGroupShown(i) }"
          class="rowme"
        >
          <div class="title_table_inside">
            <ion-row class="table_border row">
              <ion-col col-4 class="textcolor first_txt no_border_right">
                <ion-icon
                  color="success"
                  item-right
                  [name]="
                    isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'
                  "
                ></ion-icon
                >{{ tool.order_info.order_number }}
              </ion-col>
              <ion-col col-4 class="no_border_right">
                <p>{{ tool.order_info.return_date }}</p>
              </ion-col>

              <ion-col
                *ngIf="tool.order_info.action_flg == 1"
                col-4
                class="no_border"
              >
                <button ion-button (click)="extendDate(tool)" full block>
                  Extend Date
                </button>
                <button
                  *ngIf="tool.assets.length != 0"
                  full
                  block
                  ion-button
                  (click)="navigateTo(tool)"
                >
                  Initiate
                </button>
              </ion-col>

              <ion-col
                *ngIf="tool.order_info.action_flg == 2"
                col-4
                class="no_border"
              >
                <p class="yellow-status">{{ tool.order_info.action_data }}</p>
              </ion-col>
            </ion-row>

            <div *ngIf="isGroupShown(i)">
              <ion-row
                *ngIf="isGroupShown(i) && !errMsg"
                class="kid_title_table"
              >
                <ion-col col-4> <strong>Tool No.</strong> </ion-col>
                <ion-col col-4> <strong>Tool Desc.</strong> </ion-col>
                <ion-col col-4 class="no_border_right">
                  <strong>Asset No.</strong>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="errMsg">
                <span class="danger"> Waiting For Approval </span>
              </ion-row>

              <div *ngFor="let toolDetail of tool.assets">
                <div class="">
                  <ion-row *ngIf="isGroupShown(i) && !errMsg">
                    <ion-col col-4>{{ toolDetail.part_number }}</ion-col>
                    <ion-col col-4>{{ toolDetail.part_description }}</ion-col>
                    <ion-col col-4>{{ toolDetail.asset_number }}</ion-col>
                  </ion-row>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="countries_list == '1'">
    <h2 class="page_header_dif">Tool Return</h2>
    <!--
      <ion-card *ngIf="!itemExist">
        <p style="text-align:center;">No Items to Return</p>
      </ion-card>
    -->
    <ion-card>
      <ion-row class="title_table row">
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Country Name</strong>
        </ion-col>
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Requests</strong>
        </ion-col>
        <ion-col col-4 col-sm> <strong>Actions</strong> </ion-col>
      </ion-row>
      <ion-row *ngFor="let address of countries_list_data" class="addressbg">
        <ion-col class="no_border_right first_txt">
          {{ address.display_name }}
        </ion-col>
        <ion-col class="no_border_right first_txt">
          {{ address.count }}
        </ion-col>
        <ion-col class="no_border">
          <button
            type="button"
            ion-button
            full
            (click)="viewCountryData(address.location_id)"
          >
            View
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
