<ion-header>
  <page-header></page-header>
</ion-header>

<ion-content class="background" padding>
  <div *ngIf="countries_list == '0'">
    <h1 class="page_header_dif">Acknowledgements</h1>

    <ion-card *ngIf="showMessage">
      <p style="text-align:center;">No Orders To Acknowledge</p>
    </ion-card>

    <ion-card class="bkgrnd_trnsprnt" *ngIf="!showMessage">
      <ion-grid>
        <ion-row class="title_table row">
          <ion-col col-4> <strong>Order/ST No.</strong> </ion-col>
          <ion-col col-4> <strong>From </strong> </ion-col>

          <ion-col col-4> <strong>Actions</strong> </ion-col>
        </ion-row>

        <div *ngFor="let order of orders; let i = index" text-wrap [ngClass]="{ active: isGroupShown(i) }"
          class="rowme">
          <ion-row>
            <ion-col col-4 class="first_txt ack" (click)="toggleGroup(i)">
              <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'">
              </ion-icon>
              <span class="textcolor" *ngIf="order.order_info.order_type == 2">
                {{ order.order_info.order_number }}
              </span>
              <span class="textcolor" *ngIf="order.order_info.order_type == 1">
                {{ order.order_info.stn_number }}
              </span>
            </ion-col>
            <ion-col col-4 class="ack" *ngIf="order.order_info.rto_id == null">
              WH
            </ion-col>
            <ion-col col-4 class="ack" *ngIf="order.order_info.rto_id != null">
              FE
            </ion-col>

            <ion-col col-4>
              <button type="button" ion-button (click)="presentAwkAlert(order)">
                <ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isGroupShown(i)" class="kid_title_table row ">
            <ion-col col-4> <strong>Tool No.</strong> </ion-col>
            <ion-col col-4> <strong>Tool Des.</strong> </ion-col>
            <ion-col col-4> <strong>Asset No.</strong> </ion-col>
          </ion-row>
          <div *ngIf="isGroupShown(i)">
            <div *ngIf="order['assets'].length == 0">
              <ion-row class="kid_child">
                <ion-col col-12>No Tools are available to Acknowledge</ion-col>
              </ion-row>
            </div>
            <div *ngIf="order['assets'].length != 0">
              <ion-row *ngFor="let tool of order['assets']" class="kid_child">
                <ion-col col-4>{{ tool.part_number }}</ion-col>
                <ion-col col-4>{{ tool.part_description }}</ion-col>
                <ion-col col-4>{{ tool.asset_number }}</ion-col>
              </ion-row>
              <!--
                <button ion-button (click)="awkSubmit(order,order['assets'])">Initiate</button>
              -->
              <button ion-button (click)="initiate(order)" class="center">
                Initiate
              </button>
            </div>
          </div>
        </div>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="countries_list == '1'">
    <h2 class="page_header_dif">Acknowledgements</h2>
    <ion-card *ngIf="!itemExist">
      <p style="text-align:center;">No Request for Acknowledgements</p>
    </ion-card>
    <ion-card *ngIf="itemExist">
      <ion-row class="title_table row">
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Country Name</strong>
        </ion-col>
        <ion-col col-4 col-sm class="no_border_right first_txt">
          <strong>Requests</strong>
        </ion-col>
        <ion-col col-4 col-sm> <strong>Actions</strong> </ion-col>
      </ion-row>
      <ion-row *ngFor="let address of countries_list_data" class="addressbg">
        <ion-col class="no_border_right first_txt">
          {{ address.display_name }}
        </ion-col>
        <ion-col class="no_border_right first_txt">
          {{ address.count }}
        </ion-col>
        <ion-col class="no_border">
          <button type="button" ion-button full (click)="viewCountryData(address.location_id,alertType)">
            View
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>