page-stock-order-details {



  .item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #f1f1f1;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-md {
  margin: 10px;
  border-radius: 2px;
  width: calc(100% - 20px);
  font-size: 1.4rem;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0)!important;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0,0)!important;
}
ion-input, ion-textarea{

  border-bottom: 1px solid #dfdfdd;
  
    }
  
  

    
  
    @media   (width: 768px) {
  
      ion-input, ion-textarea{
       padding-left: 60px;
    }
  }
  
  
  
  
    @media  (width:1024px) {
  
      ion-input, ion-textarea {
       padding-left: 60px;
    }}
  
    


}
