<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      QR Code 
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  
  <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>

</ion-content> -->