page-wtw-stock-transfer {

    .tickMark{
        float : right;
        font-size:1.6em;
        color: #488aff;
    }

.searchbar-input{

border: 1px solid #2494F2;


}
.text-input-md {
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    font-size: 11px;
}

.title_table > ion-col{


    text-align: center;
    border: none;
    color: white!important;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    vertical-align: middle;
}




#badge-icon {
    position: relative;
    font-weight: bold;
    font-size: 1.7em;
    margin-left: 15px;
    color: #154492;
}
ion-badge {
    padding: 3px 5px;
    text-align: center;
    display: inline-block;
    min-width: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
}


.badge-md {
    border-radius: 4px;
    color: #fff;
    background-color: #488aff;
    position: absolute;
    font-weight: bold;
    border-radius: 50%;
    top: 1px;
    left: 27px;
    /* padding-top: 3px; */
    font-size: 10px;
    border: 0px solid;
    color: #ffffff;
    background-color: #ff0303;
    font-family: 'Roboto', sans-serif;

}
ion-label {
  font-size: 12px;
}


.searchbar-ios {
    padding: 0 8px;
    min-height: 44px;
    border-top: 0.55px solid transparent;
    border-bottom: 0.55px solid rgba(0, 0, 0, 0)!important;
    background: rgba(0, 0, 0, 0)!important;
}

.item-ios.item-block .item-inner {
    padding-right:0px!important;
    border-bottom: 0.55px solid #c8c7cc;
}


.item-ios .item-button {
    height: 24px;
    font-size: 1.5rem;
    width: 99%;
    padding: 19px;

}
.item-md p {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #008BF2;
}

.item-md .item-button {
    padding: 0 0.6em;
    height: 25px;
    font-size: 1.2rem;
    width: 100%;
}

.card-ios {
    margin: 0px;
    border-radius: 2px;
    border: 1px solid #c0e2fb;
   width: 100%;
    font-size: 1.4rem;
    background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}






.item-ios p {
    /* overflow: inherit; */
    /* font-size: 1.4rem; */
    /* line-height: normal; */
    /* text-overflow: inherit; */
    color: #428dff!important;
    margin: 0 0 2px;
}


.card-content-md {
    padding: 18px 5px;
    font-size: 1.4rem;
    line-height: 1.5;
    border: 1px solid #96d1fc;
}

.list-ios > .item-block:first-child {
    border-top: 0px solid #c8c7cc!important;
    border-bottom: 0px solid #c8c7cc!important;


}

.button_hear {
width: 100%;
}

toolbar-md {
    padding: 0px!important;
    min-height: 0px!important;
  }

$black:black;


 ion-img {
   left: 0;
   right: 0;
   margin:0 auto;
   width: 50%;
   height: 15%;
   background: rgba(0, 0, 0, 0);
 }

 ion-avatar {
   width: 50%;
   height: 100%;
 }

 .bkgrnd_trnsprnt {
   background: rgba(0, 0, 0, 0);
 }

 ion-col {
   width: 100%;
 }



.col {
   border: solid 1px grey;
   color:grey;

}


.row{


    padding-top:7px;
}

.row:last-child .col {
   border-bottom: solid 1px grey;
}

.textcolor{
 color:#0093F2;
}

.text{
text-align: center;
display: block;
vertical-align: middle;



}

.kid_title_table > ion-col  {
text-align: center;
border: none;
color:#7F7F7F;
font-family: 'Roboto', sans-serif;
font-size:14px;
vertical-align: middle;


}


.check_up{

margin-top: 0px;
padding-left: 9px;
}



.title_table > ion-col  {
text-align: center;
border: none;

color: white!important;
font-family: 'Roboto', sans-serif;


font-size:13px;
vertical-align: middle;


}
.page_header_dif{


padding: 20px;

text-align: center;
font-size: 18px;
}

.first_txt{
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}
.last_txt{
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}


.title_table_inside > ion-col  {

border-color: #B2B2B2;
padding: 10px;
font-weight:200!important;
color: $black;
font-family: 'Roboto', sans-serif;
overflow: hidden;

font-size:13px;
border-right: 0px;
display:table-cell;
text-align:center;
width:100%;
vertical-align: middle;
}

.title_table_inside > ion-row {
 box-shadow: 2px 5px 21px #e9e5e5;
margin-top: 20px;

 }

 .title_table_inside > ion-row > ion-col {
text-align: center;
border-top:1px solid #B2B2B2;


   }


.last_child_no{

border-right:0px solid #ffffff!important;

}


   .kid_table > ion-col {

     border: 0px solid #ffffff;
     margin-top: 2px;


     }

     .card-ios {
       margin: 12px;
       border-radius: 2px;
       width: calc(100% - 24px);
       font-size: 1.4rem;
       background: #fff;
       -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0) !important;
       box-shadow: 0 1px 2px rgba(0, 0, 0, 0)!important;
   }

.padding_top_d{
padding-top: 10px;

  }

 .kid_child > ion-col {

color:white;
border-right: 1px solid white;
background-color: #B2B2B2;


 }
 .no_border{

    border: 0px solid #ffffff!important;

 }

.no_border_right{
border-right:  0px solid #ffffff!important;

}

.col_text{

    text-align: center;
    display: block;
    padding-top:10px;

}



}
