<ion-header>
    <page-header></page-header>
  </ion-header>
  
  <ion-content class="background" padding >
    <div  *ngIf="countries_list == '0' ">
      <h2 class="page_header_dif">Due in Tool Return</h2>
      <ion-card class="bkgrnd_trnsprnt">
    
        <ion-grid>
          <ion-row class="title_table">
            <ion-col col-3>
              <strong>Order No</strong>
            </ion-col>
            <ion-col col-3>
              <strong>FE SSO</strong>
            </ion-col>
            <ion-col col-3>
                <strong>Return Date</strong>
              </ion-col>
            <ion-col col-3>
              <strong>Order Type</strong>
            </ion-col>
          </ion-row>
    
          <div *ngFor="let order of orders; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
            <div class="title_table_inside">
              <ion-row>
                <ion-col col-3 class="textcolor first_txt">
                  <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>{{order.order_info.order_number}}</ion-col>
                <ion-col col-3>
                  {{order.order_info.user_name}}
                </ion-col>
                <ion-col col-3>
                  {{order.order_info.return_date}}
                </ion-col>
                <ion-col col-3 class="last_txt">
                  {{order.order_info.order_type}}
                </ion-col>
              </ion-row>
            </div>
            <ion-row *ngIf="isGroupShown(i)" class="kid_table">
              <ion-col col-4>
                <strong>Tool No.</strong>
              </ion-col>
              <ion-col col-4>
                <strong>Tool Desc.</strong>
              </ion-col>
              <ion-col col-4>
                <strong>Asset No</strong>
              </ion-col>
            </ion-row>
            <div *ngIf="isGroupShown(i)" class="kid_child">
              <ion-row *ngIf="order.assets.length ==0">
                  <span  class="">
                      Waiting For Admin Approval
                  </span>
              </ion-row>
              <ion-row *ngFor="let tool of order.assets">
                <ion-col col-4>{{tool.part_number}}</ion-col>
                <ion-col col-4>{{tool.part_description}}</ion-col>
                <ion-col col-4>{{tool.asset_number}}</ion-col>
              </ion-row>
          </div>
          </div>
        </ion-grid>
      </ion-card>
    </div>
  
    <div *ngIf="countries_list == '1' ">  
      <h2 class="page_header_dif">Due in Tool Return</h2>
      <ion-card *ngIf="orders.length!=0">
        <ion-row class="title_table row">
          <ion-col col-4 col-sm class="no_border_right first_txt">
                <strong>Country Name</strong>  
              </ion-col>
          <ion-col col-4 col-sm class="no_border_right first_txt">
            <strong>Requests</strong>
          </ion-col>
          <ion-col col-4 col-sm>
            <strong>Actions</strong>
          </ion-col>
          
        </ion-row>
        <ion-row *ngFor="let orders of countries_list_data" class="addressbg">
          <ion-col class="no_border_right first_txt">
            {{orders.display_name}}
          </ion-col>
          <ion-col class="no_border_right first_txt" >
            {{orders.count}}      
          </ion-col>
          <ion-col class="no_border">
            <button type="button" ion-button full (click)="viewCountryData(orders.country_id)">View</button>      
          </ion-col>
        </ion-row>  
      </ion-card>
    </div>
  
  </ion-content>