page-shoppinglist {
    ion-img {
        left: 0;
        right: 0;
        margin:0 auto;
        width: 50%;
        height: 15%;
        background: rgba(0, 0, 0, 0);
      }

      ion-avatar {
        width: 50%;
        height: 100%;
      }


      .title_table > ion-col {
        text-align: center;
        border: none;
        color: white!important;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        vertical-align: middle;
    }
      .bkgrnd_trnsprnt {
        background: rgba(0, 0, 0, 0);
      }

      ion-col {
        width: 100%;
      }


    .col {
        border: solid 1px grey;
        color:grey;

    }

    .col:last-child {
        border-right: solid 1px grey;
    }



    .row:last-child .col {
        border-bottom: solid 1px grey;
    }

    .textcolor{
      color:#120dda;
    }


    [icon-right] ion-icon, [icon-end] ion-icon {
      font-size: 1.4em;
      line-height: .67;
      pointer-events: none;
      padding-left: 0em!important;
  }



    $black:black;


     ion-img {
       left: 0;
       right: 0;
       margin:0 auto;
       width: 50%;
       height: 15%;
       background: rgba(0, 0, 0, 0);
     }

     ion-avatar {
       width: 50%;
       height: 100%;
     }

     .bkgrnd_trnsprnt {
       background: rgba(0, 0, 0, 0);
     }

     ion-col {
       width: 100%;
     }


   .col {
       border: solid 1px grey;
       color:grey;

   }

   .col:last-child {
       border-right: solid 1px grey;

   }



   .row:last-child .col {
       border-bottom: solid 1px grey;
   }

   .textcolor{
     color:#0093F2;
   }



   .kid_title_table > ion-col  {
    text-align: center;
    border: none;
    color:#7F7F7F;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    vertical-align: middle;


    }


  .check_up{

    margin-top: 0px;
    padding-left: 9px;
  }



   .title_table > ion-col  {
   text-align: center;
   border: none;

   color: white!important;
   font-family: 'Roboto', sans-serif;


   font-size:13px;
   vertical-align: middle;


   }
   .page_header_dif{


   padding: 20px;

   text-align: center;
   font-size: 18px;
   }


   .title_table_inside > ion-col  {

   border-color: #B2B2B2;
   padding: 10px;
   font-weight:200!important;
   color: $black;
   font-family: 'Roboto', sans-serif;
   overflow: hidden;

   font-size:13px;
   border-right: 0px;
   display:table-cell;
   text-align:center;
   width:100%;
   vertical-align: middle;
   }

   .title_table_inside > ion-row {
     box-shadow: 2px 5px 21px #e9e5e5;
   margin-top: 20px;

     }

     .title_table_inside > ion-row > ion-col {
   text-align: center;
   border-top:1px solid #B2B2B2;


       }


   .last_child_no{

  border-right:0px solid #ffffff!important;

   }


 button.disable-hover.button.button-ios.button-default.button-default-ios.button-block.button-block-ios {
   margin-top: 23px;
  }
       .kid_table > ion-col {

         border: 0px solid #ffffff;
         margin-top: 2px;


         }

         .card-ios {
           margin: 12px;
           border-radius: 2px;
           width: calc(100% - 24px);
           font-size: 1.4rem;
           background: #fff;
           -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0) !important;
           box-shadow: 0 1px 2px rgba(0, 0, 0, 0)!important;
       }

  .padding_top_d{
  padding-top: 10px;

      }

     .kid_child > ion-col {

   color:white;
   border-right: 1px solid white;
   background-color: #B2B2B2;


     }

.checkout_img{

padding-top: 50px;
padding-bottom: 20px;

}


     .no_border{

        border: 0px solid #ffffff!important;

     }

.no_border_right{
border-right:  0px solid #ffffff!important;

}




}
