page-scan-tool {
    page-fetoolreturntool {

        #err_msg {
            color: red;
          }
    
        .item-ios.item-block .item-inner {
            padding-right:0px!important;
            border-bottom: 0.55px solid #c8c7cc;
        }
        
        
        .item-ios .item-button {
            height: 24px;
            font-size: 1.5rem;
            width: 99%;
            padding: 19px;
        
        }
        .item-md p {
            margin: 0 0 2px;
            overflow: inherit;
            font-size: 1.4rem;
            line-height: normal;
            text-overflow: inherit;
            color: #008BF2;
        }
        
        .item-md .item-button {
            padding: 0 0.6em;
            height: 25px;
            font-size: 1.2rem;
            width: 100%;
        }
        
        .card-ios {
            margin: 0px;
            border-radius: 2px;
            border: 1px solid #c0e2fb;
           width: 100%;
            font-size: 1.4rem;
            background: #fff;
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
         box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
        }
        .list-md .item-block .item-inner {
          border-bottom: 0px solid #dedede;
        }
        
        .item-md.item-block .item-inner {
            padding-right: 8px;
           border-bottom: 0px solid #dedede;
        }
        .item-md{
    
    
            padding-left: 0px!important;
        }
        
        .button_up{
    
    
            margin-top: 20px;
        }
    
    
    
        .item-ios p {
            /* overflow: inherit; */
            /* font-size: 1.4rem; */
            /* line-height: normal; */
            /* text-overflow: inherit; */
            color: #428dff!important;
            margin: 0 0 2px;
        }
        
        
        .card-content-md {
            padding: 18px 5px;
            font-size: 1.4rem;
            line-height: 1.5;
            border: 1px solid #96d1fc;
        }
        
        .list-ios > .item-block:first-child {
            border-top: 0px solid #c8c7cc!important;
            border-bottom: 0px solid #c8c7cc!important;
        
        
        }
    
        .page_header_dif{
            padding: 20px;
    
            text-align: center;
            font-size: 18px;
            }
            
    .row{
    padding-top: 7px;
    
    
    }
    
     
            .title_table > ion-col  {
                text-align: center;
                border: none; 
                color:white;
                font-family: 'Roboto', sans-serif;
                font-size:13px;
                vertical-align: middle;
                
                }
    .table_border > ion-col{
    
    border:1px solid #B2B2B2;
    }
    
    .first_txt{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        
        }
        .last_txt{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        
        }
    
        .kid_table > ion-col {
            
            border: 0px solid #ffffff;
            margin-top: 2px;
            
            
            }
    
    
            .kid_title_table > ion-col  {
                text-align: center;
                border: none;
                color:#7F7F7F;
                font-family: 'Roboto', sans-serif;
                font-size:14px;
                vertical-align: middle;
                
                
                }
              
     
                .kid_child > ion-col {
                    
               
                    border-right: 1px solid white;
                    background-color: #B2B2B2;
    
                      }
    
    
                      .kid_child > ion-col > p{
                        
                        color: white;
                        
                        
                              
                          }
    
                      .textcolor{
                        color:#120dda!important;
                      }
                    
    
    
    .no_border{
    
    border: 0px solid #ffffff!important;
    
    }
    
    .no_border_right{
        
        border-right: 0px solid #ffffff!important;
        
        }
    
    }
    
}
