page-menu {
  .background{
      background-image: url('../assets/img/login_bkgrnd.png');
      margin:auto;
      background-size:cover;
      background-repeat: no-repeat;

      
  }

  .list-ios {
    margin: 0px;
}

  ion-img {
    left: 0;
    right: 0;
    margin:0 auto;
    width: 50%;
    height: 15%;
    background: rgba(0, 0, 0, 0);
  }


  .light{
color:white;
font-weight: 200; 
padding-left: 16px;

  }

  ion-avatar {
    width: 100%;
    height: 100%;
  }

  .bkgrnd_trnsprnt {
    background: rgba(0, 0, 0, 0);
  }

  ion-col {
    width: 100%;
  }

  .card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
  }
  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: 0%;
    overflow: hidden;
    max-width:100%;
    height: 100%;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
.item-md ion-avatar ion-img, .item-md ion-avatar img {
 

  width: 54px!important;

}

ion-img.img-loaded img {

  width: 100%;
}

.image_icon img{
width: 80% !important;
height: 100%!important;
}

ion-label {
  margin: 0;
  display: block;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  white-space: normal;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  font-size: 14px;
  text-align: center;
   margin:auto;
   vertical-align: middle;
}





.image_head{

padding: 0!important;
margin:0;
padding:0px!important;

}


.image_head img{
  
height: 100%;
  
  }
  ion-img {
    display: inline-block;
    min-width: 100%;
    min-height:0px;
    background: #eee;
    contain: inherit;
}



}
